{
  "env": {
    "browser": 1,
    "node" : 1
  },

  "globals": {
    "angular": 1,
    "commonjs": 1,
    "should": 1,
    "describe": 1,
    "it": 1,
    "Parse": 1,
    "_": 1
  },
  
  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "eqeqeq": 0,
    "strict": 0,
    "no-underscore-dangle": 0,
    "curly": [2, "all"],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "eol-last": 0,
    "no-nested-ternary": 0,
    "padded-blocks": [1, "never"],
    "space-after-function-name": [1, "never"],
    "space-before-blocks": [1, "always"],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "no-wrap-func": 0,
    "no-unused-vars": [2, {"vars": "local", "args": "after-used"}],
    "no-shadow": 0,
    "no-alert": 0
  }
}
