<header>
    <div class="jumbotron" style="background-image:url('/imgs/cockpit.jpg'); background-size: 100%;">
        <h1 class="text-shadowed">aGroup</h1>
        <p class="text-shadowed">&nbsp;&nbsp;&nbsp;&nbsp;A meta-groupware platform assisting people with technology.</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="img-circle img-feature" style="background-image:url('/imgs/pilot.jpg'); background-size: 160px; background-position: 40%;"></div>
            <h2><strong>Control</strong></h2>
            <p>Interact with all the devices you <strong>need</strong>.</p>
        </div>
        <div class="col-md-4 text-center">
            <div class="img-circle img-feature" style="background-image:url('/imgs/co-pilot.jpg'); background-size: 160px; background-position: 40%;"></div>
            <h2><strong>Collaborate</strong></h2>
            <p>Builds groups and work together with those you <strong>trust</strong>.</p>
        </div>
        <div class="col-md-4 text-center">
            <div class="img-circle img-feature" style="background-image:url('/imgs/plane.jpg'); background-size: 140px;"></div>
            <h2><strong>Fly</strong></h2>
            <p>Anything is forever: evolve as you go and as your needs <strong>grow</strong>.</p>
        </div>
    </div>
</div>
