body {
  padding-top: 50px;
}
.container {
  padding-top: 20px;
}
header .jumbotron {
  padding: 40px;
  background-color: #7a62d3;
  color: #fff;
}
.text-shadowed {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}
.img-feature {
  height: 140px;
  width: 140px;
  float: none;
  margin: 0 auto;
  border: solid 7px #d3d3d3;
}
.navbar-brand div {
  display: inline-block;
}
.navbar-brand h6 {
  margin-top: 0px;
  margin-left: 10px;
}
.navbar-brand img {
  width: 25px;
  vertical-align: top;
}
.status-light {
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
}
.online {
  color: #90ee90;
}
.offline {
  color: #d3d3d3;
}
.warning {
  color: #ffa500;
}
.error {
  color: #f08080;
}
.opened {
  color: #90ee90;
}
.closed {
  color: #d3d3d3;
}
.pending {
  color: #ff0;
}
.new {
  font-weight: bold;
}
.btn-dark {
  color: #fff;
}
.modal-body p {
  margin: 10px;
}
.msg-placeholder {
  height: 65px;
  justify-content: center;
}
.line-spin-fade-loader > div {
  background: #add8e6;
}
.success {
  background-color: #90ee90;
}
.transparent {
  background: #333;
  background: rgba(255,255,255,0.7);
}
.transparent a,
.transparent a:link,
.transparent a:visited {
  color: #777;
}
.transparent a:hover {
  color: #333;
}
.transparent-dark {
  color: #fff;
  background: #333;
  background: rgba(0,0,0,0.3);
}
.transparent-dark a,
.transparent-dark a:link,
.transparent-dark a:visited {
  color: #fff;
}
.transparent-dark a:hover {
  color: #efefef;
}
.btn-border {
  border: solid 3px #d3d3d3;
}
.btn-border a {
  text-decoration: none;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
.margin-top-med {
  margin-top: 10px;
}
.margin-bottom-med {
  margin-bottom: 10px;
}
