body {
  padding-top: 50px;
}
header .jumbotron {
  padding: 40px;
  background-color: #7a62d3;
  color: #fff;
}
.navbar-brand div {
  display: inline-block;
}
.navbar-brand h6 {
  margin-top: 0px;
  margin-left: 5px;
}
.navbar-brand img {
  width: 25px;
  vertical-align: top;
}
.status-light {
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
}
.online {
  color: #90ee90;
}
.offline {
  color: #d3d3d3;
}
.warning {
  color: #ffa07a;
}
.error {
  color: #f08080;
}
.btn-dark {
  color: #fff;
}
.modal-body p {
  margin: 10px;
}
.msg-placeholder {
  height: 65px;
  justify-content: center;
}
.line-spin-fade-loader > div {
  background: #add8e6;
}
.success {
  background-color: #90ee90;
}
