body
  padding-top 50px

header
  .jumbotron
    padding 40px
    //background-color #8AF2A5
    background-color #7a62d3
    //background-color #13987e
    color white

.navbar-brand
  div
    display inline-block
  h6
    margin-top 0px
    margin-left 10px
  img
    width 25px
    vertical-align top

.status-light
  -ms-transform rotate(7deg) /* IE 9 */
  -webkit-transform rotate(7deg) /* Chrome, Safari, Opera */
  transform rotate(7deg)

.online
  color lightgreen

.offline
  color lightgray

.warning
  //color lightsalmon
  color orange

.error
  color lightcoral

.btn-dark
  color white

.modal-body
  p
    margin 10px

.msg-placeholder
  height 65px
  justify-content center

.line-spin-fade-loader > div
  background: lightblue //orange

.success
  background-color lightgreen
