<div class="container">
    <div class="margin-bottom-med">
        <form class="form-inline">
            <a class="btn btn-default" href="/events/new">+ New event</a>
            <div class="form-group pull-right">
                <input class="form-control" type="text" placeholder="Filter" ng-model="searchText"/>
                <select class="form-control margin-left-med" ng-model="sortOrder" ng-options="item.value as item.text for item in sortOptions" />
            </div>
        </form>
    </div>
    <div class="">
        <table class="table table-hover table-striped table-condensed">
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <tr ng-repeat="event in events | filter: searchText | orderBy: sortOrder">
                <td><a ng-href="/events/{{event.objectId}}" ng-class="{new: event.featured}"> {{event.title}} </a></td>
                <td>{{event.statusDate.iso | date: 'd, MMM H:mm'}}</td>
                <td class="text-center"><span class="glyphicon glyphicon-flag status-light" ng-class="event.status" title="{{event.status}}"> </span> </td>
            </tr>
        </table>
    </div>
</div>