<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>Meta Groupware | <%= __('Welcome') %>!</title>

    <% include ../includes/style %>

</head>

<body ng-app="MetaGroupware">

    <% include ../includes/currentUser %>

    <ng-include src="'/partials/account/navbar'"> </ng-include>

    <ng-view> </ng-view>

    <% include ../includes/footer %>

    <% include ../includes/scripts %>

</body>
</html>
