<div class="container">
    <table class="table table-hover table-condensed">
        <th>Name</th>
        <th>Email</th>
        <tr ng-repeat="user in users">
            <td>{{user.firstName + ' ' + user.lastName}}</td>
            <td>{{user.email}}</td>
        </tr>
    </table>
</div>