<div class="modal-header">
    <h3 class="modal-title">Log in</h3>
</div>
<div class="modal-body">

    <div class="msg-placeholder" ng-if="loading || errors">
        <div class="loader" style="position: relative; left: 130px; top: 25px;" ng-if="loading">
            <div class="loader-inner line-spin-fade-loader"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        <!--<div class="alert alert-danger alert-dismissible animated fadeInDown" role="alert" ng-if="errors">
            <button type="button" class="close" data-dismiss="alert" ng-click="closeAlert();">&times;</button>
            {{errors}}
        </div>-->
    </div>

    <form class="form" name="logInForm" ng-submit="logIn(username, password);">
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username" ng-model="username" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" ng-model="password" required>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Keep me logged in
            </label>
        </div>
        <button class="btn btn-primary btn-block" ng-disabled="logInForm.$invalid"> Log me in </button>
    </form>
    <p class="text-center"><small>Doesn't have one? Sign up <a href="/signup" ng-click="cancel();">here</a>.</small></p>
<div class="modal-footer">
    <!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
    <button class="btn btn-warning" ng-click="cancel();">Cancel</button>
</div>
