<ul class="nav navbar-nav navbar-right" ng-hide="identity.isAuthenticated();">
    <li><a href="" ng-click="logIn();">LOG IN</a></li>
    <li>
        <form class="navbar-form navbar-left" role="search">
            <button class="btn btn-border transparent"><a href="/signup">SIGN UP</a></button>
        </form>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right" ng-show="identity.isAuthenticated();" ng-init="checkNewEvents();">
    <li><a href="/main"> DASHBOARD </a></li>
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"> EVENTS
            <span class="badge bg-primary" ng-if="newEvents"> {{newEvents}} </span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/events">View events</a></li>
            <li><a href="/events/new">+ New event</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">{{identity.currentUser.firstName ? identity.currentUser.firstName + ' ' + identity.currentUser.lastName: identity.currentUser.username}} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li ng-show="identity.currentUser.isAdmin()"><a href="/admin/users">User admin</a></li>
            <li><a href="/profile">Profile</a></li>
            <li class="divider"></li>
            <li><a href="" ng-click="signOut();">Sign out</a></li>
        </ul>
    </li>
</ul>
