<div class="panel panel-default">
    <div class="panel-heading text-center">
        <strong>Events</strong>
    </div>
    <div class="panel-body">
        <div class="row" ng-repeat="event in events | orderBy: 'statusDate' | limitTo: 10">
            <div class="col-md-9"><a ng-href="/events/{{event.objectId}}" ng-class="{new: event.featured}"> {{event.title}} </a></div>
            <div class="col-md-3 text-center"><span class="glyphicon glyphicon-flag status-light" ng-class="event.status" title="{{event.status}}"> </span> </div>
        </tr>
    </div>
</div>