<header>
    <div class="jumbotron">
        <h1> Your dashboard </h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-4" ng-include="'/partials/main/devices'"></div>
        <div class="col-md-4" ng-include="'/partials/main/people'"></div>
        <div class="col-md-4" ng-include="'/partials/main/events'"></div>
    </div>
</div>
