<header>
    <div class="jumbotron">
        <h1>aGroup</h1>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;A meta-platform assisting people with technology</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-4" ng-include="'/partials/main/devices'"></div>
        <div class="col-md-4" ng-include="'/partials/main/people'"></div>
        <div class="col-md-4" ng-include="'/partials/main/events'"></div>
    </div>

    <h1>{{ myVar | translate }}</h1>
    <h2>(This is a partial)</h2>
    <h3>{{ message }}</h3>
    <button ng-click="testParse();" class="btn btn-default"> Test me!</button>
    <p>{{ testResult }}</p>
</div>
